spring:
  datasource:
    url: ${DB_URL:jdbc:h2:mem:calculator;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${DB_USERNAME:user}
    password: ${DB_PASSWORD:password}
    hikari:
      auto-commit: false
      pool-name: loan-calculator-db-pool
      maximum-pool-size: 2
  jpa:
    properties:
      hibernate:
        jdbc.time_zone: UTC
        connection:
          provider_disables_autocommit: true
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

calculator:
  rounding:
    calculation:
      scale: 30
    display:
      scale: 2
